/* Magic Mirror
 * Module: MMM-RNV
 *
 * By Julian Dinter
 * MIT Licensed.
 */

.MMM-RNV {
    text-align: left;
}

table.rnv-schedule{
    border-spacing: 0.5em;
}

.rnv-delay {
    color: red;
}

.rnv-delay.rnv-early {
    color: green;
}