/* Magic Mirror
 * Module: MMM-RNV
 *
 * By Julian Dinter
 * MIT Licensed.
 */
 
.late {
    color: #FF0000;
}

.early {
    color: #00FF00;
}

.RNVTableHeader {
    text-align: left;
}

.Departure {
    padding: 0px 5px 0px 5px;
    text-align: left;
}

.Line {
    padding: 0px 5px 0px 5px;
    text-align: right;
}

.Destination {
    padding: 0px 5px 0px 5px;
    text-align: left;
}

.Platform {
    padding: 0px 5px 0px 5px;
    text-align: left;
}